.modal {
  position: fixed;
  min-height: 100vh;
  max-width: 100vw;
  background-color: $color-bg-modal;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  @include flex-row-center();
  z-index: 100;
}


.modal-content {
  width: 633px;
  height: auto;
  background-color: $color-FFFFFF;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}
