<div class="user-header">
    <div class="user-header__title">
        <h2 class="user-header__title--principal">Usuarios</h2>
        <span class="user-header__title--subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>
    </div>
    <div class="user-header__actions">
        <button class="user-header__actions--preview" (click)="preview()">
            <img src="./assets/icons/eye.svg" alt="">
            Previsualizar
        </button>
        <button class="user-header__actions--add" (click)="create()">
            <img src="./assets/icons/add.svg" alt="">
            Agregar nuevo usuario
        </button>
    </div>
</div>
