$assetPath: '~src/assets/icons/';

$color-D0D0D0: #D0D0D0;
$color-FA6A00: #FA6A00;
$color-FD5555: #FD5555;
$color-E9E9E9: #E9E9E9;
$color-FFFFFF: #ffffff;
$color-5F5F5F: #5F5F5F;
$color-C7C7C7: #C7C7C7;
$color-131B31: #131B31;
$color-DFDFDF: #DFDFDF;
$color-969696: #969696;
$color-F9F9F9: #F9F9F9;
$color-BDBDBD: #BDBDBD;
$color-E3E3E3: #E3E3E3;
$color-6B6B6B: #6B6B6B;
$color-677FAC: #677FAC;
$color-F7F7F7: #F7F7F7;
$color-F4F4F4: #F4F4F4;
$color-121A32: #121A32;
$color-111835: #111835;
$color-969696: #969696;
$color-bg-modal: rgba(33,33,33,0.9);
